<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>更新</title>
	[#include "/admin/common/commons.html"]
	[#include "/tenant/common/site.html"]
	[@baseHead /]
</head>

<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

	<header class="main-header">
		<!-- Header Navbar: style can be found in header.less -->
		[#include "/admin/common/nav.html"]
	</header>

	<!-- =============================================== -->

	<!-- Left side column. contains the sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			[@user_panel /]
			<!-- search form -->
			[@sidebar_form /]
			<!-- /.search form -->
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu" data-widget="tree">
				<li class="header">主面板</li>
				[@menustag id=1]
				[#list list as item]
				[@menu item "1,51,53"]
				[/@menu]
				[/#list]
				[/@menustag]
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- =============================================== -->

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper" id="app"   v-cloak >
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<!-- 导航 -->
			<div class="navigation">
				<i>首页</i> <span>更新</span>
			</div>
		</section>
		<!-- Main content -->
		<section class="content">
			<!-- Default box -->

			<el-form ref="form" :model="form" label-width="160px" :rules="rules"  >
				<input type="hidden" name="id" value="${model.id}">
				<input type="hidden" name="pageNumber" value="${(page.pageNumber)!'1'}">
				<el-row :gutter="10">
					<el-col :span="12">
						<el-form-item label="标题" size="mini" prop="title">
							<el-input v-model="form.title" name="title">
							</el-input>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="广告开始时间" size="mini" prop="beginDate">
							<el-input v-model="form.beginDate" name="beginDate">
							</el-input>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="广告结束时间" size="mini" prop="endDate">
							<el-input v-model="form.endDate" name="endDate">
							</el-input>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="链接地址" size="mini" prop="url">
							<el-input v-model="form.url" name="url">
							</el-input>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="广告位" size="mini" prop="adPosition">
							<el-select style="width: 100%;"  v-model="form.adPosition" filterable clearable
									   placeholder="请选择">
								<el-option v-for="item in adPositionOptions" :key="item.id"
										   :label="item.name" :value="item.id">
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="内容" size="mini" prop="note">
							<el-input v-model="form.note" name="note">
							</el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row style="text-align: right;">
					<el-row style="text-align: right;">
						<el-button @click="cancelEdit">取消</el-button>
						<el-button type="primary" @click="updateData">确定</el-button>
					</el-row>
				</el-row>
			</el-form>

			<!-- /.box -->
		</section>

		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	[#include "/admin/common/footer.html"]

	<!-- Control Sidebar -->
	[#include "/admin/common/aside.html"]

	<!-- /.control-sidebar -->
	<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
[@baseScript /]
<script>
		var vm = new Vue({
			el: '#app',
			data: function () {
				return {
					form: {
					     id:"${model.id!}",
						title: '${model.title!}',
						beginDate: '${model.beginDate!}',
						endDate: '${model.endDate!}',
						url: '${model.url!}',
						adPosition: '${model.adPosition!}',
						note: '${model.note!}'					},
					rules: {
                        title: [
							{ required: true, message: '请输入标题', trigger: 'blur' }
						  ],
					}
				}
			},
			mounted: function () {
			},
			methods: {
				cancelEdit(){
					window.location.href="${siteurl}admin/ad/view_list.htm";
				},
  				updateData(){
					var self=this;
					this.$refs["form"].validate((valid) => {
						if (valid) {
							self.updateDataPost();
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
				updateDataPost() {
					var that = this, data = this.form;
					const loading = this.$loading({
						lock: true,
						text: '数据修改中',
						spinner: 'el-icon-loading',
						background: 'rgba(0, 0, 0, 0.7)'
					});

					$.post("${siteurl}tenantRest/ad/update.htm", data, function (res) {
						setTimeout(() => {
							loading.close();
						}, 300);
						if (res.code == 0) {
							that.modelType = 'list';
							that.$message({
								message: '修改数据成功',
								type: 'success'
							});
							window.location.href="${siteurl}admin/ad/view_list.htm";
						} else {
							that.$message.error(res.msg);
						}
					});
				}
			}
		})
	</script>

</body>

</html>