[#macro userloginlogListView]
<div>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
        <span>确认要删除该条数据吗?</span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="handleClose">确 定</el-button>
        </span>
    </el-dialog>
    <div class="search">
        <el-form label-width="80px">
            <el-row>
                <el-col :span="6" style="padding: 0 8px;">
                    <el-form-item label="用户姓名">
                        <el-input v-model="searchObject.userName" size="small" placeholder="" name="userName">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6" style="padding: 0 8px;">
                    <el-form-item label="登录状态">
                        <el-radio v-model="searchObject.state" label="fail">登录失败</el-radio>
                        <el-radio v-model="searchObject.state" label="success">登录成功</el-radio>
                    </el-form-item>
                </el-col>
                <el-col :span="12" style="padding: 0 10px;margin-top: 5px;">
                    <el-row type="flex" justify="end">
                        <el-button size="small" type="primary" @click="search">搜索</el-button>
                        <el-button size="small" plain @click="clearData">清除条件</el-button>
                    </el-row>
                </el-col>
            </el-row>
        </el-form>
    </div>
    <div class="data-content">
        <el-table v-loading="loading" :data="tableData.list" @cell-click="showView" @sort-change="changeTableSort"
            style="width: 100%;font-size: 12px;">
            <el-table-column label="用户姓名" prop="userName" width="100">
            </el-table-column>
            <el-table-column label="登陆账号" prop="account" width="100">
            </el-table-column>
            <el-table-column label="登录IP" prop="ip" width="130">
            </el-table-column>
            <el-table-column label="客户端" prop="client" width="100">
            </el-table-column>
            <el-table-column label="状态" prop="stateName" width="100">
            </el-table-column>
            <el-table-column label="登录时间" prop="addDate">
            </el-table-column>
            <el-table-column width="80" align="center" fixed="right" label="操作">
                <template slot-scope="scope">
                    <el-button type="danger" size="mini" style="cursor: pointer;" @click="deleteData(scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <div class="page">
            <el-pagination background :current-page="searchObject.no" :page-sizes="[10, 20, 50, 100]"
                :page-size="tableData.size" :pager-count="5" layout="total, sizes, prev, pager, next, jumper"
                :page-count="tableData.totalPage" :total="tableData.total" @size-change="sizeChange"
                @current-change="pageChange">
            </el-pagination>
        </div>
    </div>
</div>
[/#macro]
[#macro userloginlogListConfig]
<script type="text/x-template" id="my-userloginlog-list">
	[@userloginlogListView /]
</script>
<script type="text/javascript">
    var userloginlogListConfig = {};
    userloginlogListConfig.template = "#my-userloginlog-list";
    userloginlogListConfig.methods = config.basicMethod();


    userloginlogListConfig.methods.addView = function () {
        this.$router.push({ path: 'add' });
    }
    userloginlogListConfig.methods.editView = function (row) {
        var self = this;
        var data = {};
        data.id = row.id;
        this.$router.push({ path: 'update', query: data });

    }

    userloginlogListConfig.methods.changeTableSort = function (column) {
        this.searchObject.sortField = column.prop;
        if ("descending" == column.order) {
            this.searchObject.sortMethod = "desc";
        }
        else if ("ascending" == column.order) {
            this.searchObject.sortMethod = "asc";
        }
        else {
            this.searchObject.sortMethod = "";
        }
        this.getSearchList();
    }
    userloginlogListConfig.methods.showView = function (row, column, cell, event) {
        if (cell.cellIndex > 0) {
            return;
        }
        var param = {};
        param.id = row.id;
        var self = this;
        this.$router.push({ path: 'view', query: param });

    }

    userloginlogListConfig.methods.sizeChange = function (event) {
        this.searchObject.size = event;
        this.getSearchList();
    }
    userloginlogListConfig.methods.pageChange = function (index) {
        this.searchObject.no = index;
        this.getSearchList();
    }
    userloginlogListConfig.methods.getSearchList = function () {
        this.loading = true;
        var data = this.searchObject, that = this;
        $.post("${siteurl}tenantRest/userloginlog/search.htm", data, function (result) {
            if (result.code == 0) {
                that.tableData = result;
            }
            setTimeout(function () {
                that.loading = false;
            }, 300)
        });
    }
    userloginlogListConfig.methods.search = function () {
        this.searchObject.no = 1;
        this.getSearchList();
    }
    userloginlogListConfig.methods.clearData = function () {
        this.searchObject.userId = "";
        this.searchObject.userName = "";
        this.searchObject.state = "";
    }
    userloginlogListConfig.methods.deleteData = function (event) {
        this.selectId = event.id;
        this.dialogVisible = true;
    }

    userloginlogListConfig.methods.handleClose = function (done) {
        this.dialogVisible = false;
        var self = this;
        if (self.selectId) {
            var params = {};
            params.id = self.selectId;
            this.postData("${siteurl}tenantRest/userloginlog/delete.htm", params, function (res) {
                if (res.code == 0) {
                    self.$message({
                        message: '删除数据成功',
                        type: 'success'
                    });
                    self.getSearchList();
                } else {
                    self.$message.error(res.msg);
                }
            });
        }

    }

    userloginlogListConfig.computed = {};

    userloginlogListConfig.data = function () {
        return {
            searchObject: {
                no: 1,
                size: 10,
                userId: '',
                userName: '',
                state:""
            },
            dialogVisible: false,
            defaultProps: {
                children: 'children',
                label: 'name'
            },
            loading: false,
            tableData: {},
        }
    };
    userloginlogListConfig.methods.showAddView = function () {
        this.$router.push({ path: 'add' });
    };
    userloginlogListConfig.mounted = function () {

    }
    userloginlogListConfig.activated = function () {
        this.getSearchList();
    }
    var userloginlogListView = Vue.component('list-userloginlog-view', userloginlogListConfig);
</script>
[/#macro]