<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>个人信息</title>
    [#include "/admin/common/commons.html"]
    [#include "/tenant/common/site.html"]
    [@baseHead /]
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Header Navbar: style can be found in header.less -->
            [#include "/admin/common/nav.html"]
        </header>

        <!-- =============================================== -->

        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                [@user_panel /]
                <!-- search form -->
                [@sidebar_form /]
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">主面板</li>
                    [@menustag id=1]
                    [#list list as item]
                    [@menu item "1,5,6"]
                    [/@menu]
                    [/#list]
                    [/@menustag]
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" id="app" v-cloak>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <!-- 导航 -->
                <div class="navigation">
                    <i>首页</i> <span>个人信息</span>
                </div>
            </section>
            <!-- Main content -->
            <section class="content">

                <el-row class="model-form">
                    <el-col :span="4">
                        <el-menu style="min-height: 450px;" default-active="1" @select="handleSelect">
                            <el-menu-item index="1">
                                <i class="el-icon-user-solid"></i>
                                <span slot="title">基本设置</span>
                            </el-menu-item>
                            <el-menu-item index="2">
                                <i class="el-icon-s-tools"></i>
                                <span slot="title">安全设置</span>
                            </el-menu-item>
                            <el-menu-item index="3">
                                <i class="el-icon-s-management"></i>
                                <span slot="title">登录记录</span>
                            </el-menu-item>
                        </el-menu>
                    </el-col>
                    <el-col :span="20">
                        <div v-if="selectIndex==1">
                            <el-row>
                                <el-col :span="16">
                                    <el-form label-width="120px" :model="form">
                                        <el-form-item label="头像" prop="avatar" key="avatarItem">
                                            <avatar v-model="form.avatar" size="small" key="avatar"></avatar>
                                        </el-form-item>
                                        <el-form-item label="昵称" prop="name" key="nameItem">
                                            <el-input v-model="form.name" size="small" key="name"></el-input>
                                        </el-form-item>
                                        <el-form-item label="个人介绍" prop="note" key="note">
                                            <el-input type="textarea" v-model="form.note" key="note" size="small">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button type="primary" @click="updateProfile" size="small">更新信息
                                            </el-button>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                        </div>
                        <div v-if="selectIndex==2">
                            <el-row>
                                <el-col :span="16">
                                    <el-form ref="ruleForm" label-width="120px" :model="form" :rules="rules">
                                        <el-form-item label="老密码" prop="oldPassword" key="oldPasswordItem">
                                            <el-input v-model="form.oldPassword" size="small"></el-input>
                                        </el-form-item>
                                        <el-form-item label="新密码" prop="password" key="password">
                                            <el-input v-model="form.password" size="small"></el-input>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button type="primary" @click="updatePassword" size="small">修改密码
                                            </el-button>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                        </div>
                        <div v-if="selectIndex==3">
                            <el-table v-loading="loading" :data="tableData.list" ke="logger"
                                @sort-change="changeTableSort" style="width: 100%;font-size: 12px;padding:10px 20px;">
                                <el-table-column label="登陆IP" prop="ip" width="120">
                                </el-table-column>
                                <el-table-column label="登陆时间" prop="addDate" width="160">
                                </el-table-column>
                                <el-table-column label="状态" prop="state" sortable="custom">
                                </el-table-column>
                            </el-table>

                            <div class="page">
                                <el-pagination background :current-page="searchObject.no"
                                    :page-sizes="[10, 20, 50, 100]" :page-size="tableData.size" :pager-count="5"
                                    layout="total, sizes, prev, pager, next, jumper" :page-count="tableData.totalPage"
                                    :total="tableData.total" @size-change="sizeChange" @current-change="pageChange">
                                </el-pagination>
                            </div>
                        </div>
                    </el-col>
                </el-row>

                <!-- /.box -->
            </section>

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        [#include "/admin/common/footer.html"]

        <!-- Control Sidebar -->
        [#include "/admin/common/aside.html"]

        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    [@baseScript /]
	[#include "/tenant/default/common/component.html" /]
    [@avatar /]

    <script>
        var config = {};
        config.el = "#app";

        config.methods = {};

        [@configBasicVue  /]

        config.methods.handleSelect = function (event) {
            this.selectIndex = event;
            if(event=="3"){
                this.getSearchList();
            }
        }
        config.methods.sizeChange = function (event) {
            this.searchObject.size = event;
            this.getSearchList();
        }
        config.methods.pageChange = function (index) {
            this.searchObject.no = index;
            this.getSearchList();
        }
        config.methods.getSearchList = function () {
            this.loading = true;
            var data = this.searchObject, that = this;
            $.post("${siteurl}tenantRest/userloginlog/searchByUser.htm", data, function (result) {
                if (result.code == 0) {
                    Vue.set(vm.$data, 'tableData', result);
                }
                setTimeout(() => {
                    that.loading = false;
                }, 300)
            });
        }

        config.methods.updatePassword = function (event) {
            var self = this;
            this.$refs["ruleForm"].validate((valid) => {
                if (valid) {

                    var data = self.form;
                    self.postData("${siteurl}admin/member/updatepassword.htm", data, function (res) {
                        if (res.code != 0) {
                            self.$message.error(res.msg);
                        } else {
                            self.$message({
                                message: '更新密码成功',
                                type: 'success'
                            });
                        }
                    })
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        }
        config.methods.updateProfile = function (event) {
            var self = this;

            var data = self.form;
            self.postJsonData("${siteurl}admin/member/model_update_basic.htm", data, function (res) {
                if (res.code != 0) {
                    self.$message.error(res.msg);
                } else {
                    self.$message({
                        message: '更新信息成功',
                        type: 'success'
                    });
                }
            })
        }
        config.methods.loadData = function () {
            this.postData("${siteurl}tenantRest/member/current.htm", {}, function (result) {
                if (result.code == 0) {
                    Vue.set(vm.$data, 'form', result);
                }
            });
        }
        config.mounted = function () {
            this.loadData();
        }
        config.data = function () {
            return {
                form: {
                    oldPassword: '',
                    password: '',
                },
                viewModel: {},
                loading: false,
                tableData: {},
                rules: {
                    oldPassword: [
                        { required: true, message: '请输入老密码', trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: '请输入新密码', trigger: 'blur' }
                    ],
                },
                selectIndex: 1,
                searchObject: {
                    no: 1,
                    size: 10
                },
                tableData: {}
            }
        };
        var vm = new Vue(config);

    </script>

</body>

</html>