<!-- 增加页面开始 -->

[#macro adpositionAddView]
<div class="model-form">
	<el-page-header @back="goBack" content="增加广告位">
	</el-page-header>
	<div class="model-content">
		<el-form ref="ruleForm" :rules="rules" :model="form" label-width="160px">
			<el-row :gutter="10">
				<el-col :span="22">
					<el-form-item label="标识" size="mini" prop="key">
						<el-input v-model="form.key" name="key">
						</el-input>
					</el-form-item>

				</el-col>
				<el-col :span="22">
					<el-form-item label="广告位" size="mini" prop="name">
						<el-input v-model="form.name" name="name">
						</el-input>
					</el-form-item>

				</el-col>
				<el-col :span="22">
					<el-form-item label="宽度" size="mini" prop="width">
						<el-input-number v-model="form.width" name="width" type="textarea" :min="0" :max="1000">
						</el-input-number>
					</el-form-item>

				</el-col>
				<el-col :span="22">
					<el-form-item label="高度" size="mini" prop="height">
						<el-input-number v-model="form.height" name="height" type="textarea" :min="0" :max="1000">
						</el-input-number>
					</el-form-item>

				</el-col>
				<el-col :span="22">
					<el-form-item label="备注" size="mini" prop="note">
						<el-input v-model="form.note" name="note" type="textarea"></el-input>
					</el-form-item>

				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24" style="text-align: right;padding-bottom: 20px;padding-top: 20px;">
					<el-button @click="goBack">取消</el-button>
					<el-button type="primary" @click="add">确定</el-button>
				</el-col>
			</el-row>
		</el-form>
	</div>
</div>
[/#macro]

[#macro adpositionAddConfig]
<script type="text/x-template" id="my-adposition-add">
	[@adpositionAddView /]
</script>
<script type="text/javascript">
	//添加组件开始
	var adpositionAddConfig = {};
	adpositionAddConfig.template = "#my-adposition-add";
	adpositionAddConfig.methods = config.basicMethod();
	adpositionAddConfig.data = function () {
		return {
			form: {
				key: '',
				name: '',
				width: '',
				height: '',
				note: ''
			},
			rules: {
				key: [
					{ required: true, message: '请输入标识', trigger: 'blur' }
				],
				name: [
					{ required: true, message: '请输入广告位', trigger: 'blur' }
				],
			}
		}
	};
	adpositionAddConfig.mounted = function () {
	}
	adpositionAddConfig.computed = {};


	adpositionAddConfig.methods.add = function () {
		var self = this;
		this.$refs["ruleForm"].validate(function (valid) {
			if (valid) {
				self.addData();
			} else {
				console.log('error submit!!');
				return false;
			}
		});
	}

	adpositionAddConfig.methods.addData = function () {
		var self = this, data = this.form;
		if (this.deforeAddData) {
			this.deforeAddData();
		}
		this.postData("${siteurl}tenantRest/adposition/create.htm", data, function (res) {
			if (res.code == 0) {
				self.$message({
					message: '添加数据成功',
					type: 'success'
				});
				self.$router.go(-1);
			} else {
				self.$message.error(res.msg);
			}
		});
	}

	adpositionAddConfig.destroyed = function () {
		console.log("destroyed add view ");

	}
	var adpositionAddView = Vue.component('add-view', adpositionAddConfig);


</script>
[/#macro]

<!-- 增加页面结束 -->