[#macro employeeUpdateView]
    <div class="model-form">
        <el-page-header @back="goBack" content="更新员工">
        </el-page-header>
        <div class="model-content">
            <el-form ref="ruleForm" :rules="rules" :model="form" label-width="160px" >
                <el-row :gutter="10">
 <el-col :span="12">
     <el-form-item label="姓名" size="mini" prop="name">
             <el-input v-model="form.name" name="name">
             </el-input>
     </el-form-item>
      
 </el-col>
 <el-col :span="12">
     <el-form-item label="电话" size="mini" prop="phone">
             <el-input v-model="form.phone" name="phone">
             </el-input>
     </el-form-item>
      
 </el-col>
 <el-col :span="22">
     <el-form-item label="数据范围" size="mini" prop="dataScope">
             <el-input v-model="form.dataScope" name="dataScope">
             </el-input>
     </el-form-item>
      
 </el-col>
 <el-col :span="12">
     <el-form-item label="账号" size="mini" prop="no">
             <el-input v-model="form.no" name="no">
             </el-input>
     </el-form-item>
      
 </el-col>
 <el-col :span="12">
     <el-form-item label="email" size="mini" prop="email">
             <el-input v-model="form.email" name="email">
             </el-input>
     </el-form-item>
      
 </el-col>
 <el-col :span="12">
     <el-form-item label="职位" size="mini" prop="job">
             <el-input v-model="form.job" name="job">
             </el-input>
     </el-form-item>
      
 </el-col>
 <el-col :span="12">
     <el-form-item label="主要部门" size="mini" prop="org">
             <el-select style="width: 100%;"  v-model="form.org" filterable clearable
                     placeholder="请选择">
                 <el-option v-for="item in orgOptions" :key="item.id"
                         :label="item.name" :value="item.id">
                 </el-option>
             </el-select>
     </el-form-item>
      
 </el-col>
 <el-col :span="12">
     <el-form-item label="辅助部门" size="mini" prop="departments">
             <el-input v-model="form.departments" name="departments">
             </el-input>
     </el-form-item>
      
 </el-col>
 <el-col :span="12">
     <el-form-item label="权限类型" size="mini" prop="permissionType">
             <el-input v-model="form.permissionType" name="permissionType">
             </el-input>
     </el-form-item>
      
 </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24"  style="text-align: right;padding-bottom: 20px;padding-top: 20px;">
                        <el-button @click="goBack">取消</el-button>
                        <el-button type="primary" @click="updateData">确定</el-button>
                    </el-col>
			     </el-row>
            </el-form>
        </div>
    </div>
[/#macro]

[#macro employeeUpdateConfig]
<script type="text/x-template" id="my-employee-update">
    [@employeeUpdateView /]
</script>
<script type="text/javascript">
    //更新组件开始
    var employeeUpdateConfig = {};
    employeeUpdateConfig.template = "#my-employee-update";
    employeeUpdateConfig.methods = config.basicMethod();
    employeeUpdateConfig.methods.updateData = function () {
        var self = this;
        this.$refs["ruleForm"].validate(function(valid){
            if (valid) {
                self.updateDataPost();
            } else {
                console.log('error submit!!');
                return false;
            }
        });
    }

    employeeUpdateConfig.methods.updateDataPost = function () {
        var self = this, data = this.form;
        //delete data.employeeCatalog;
        if (this.deforeUpdateData) {
            this.deforeUpdateData();
        }
        this.postData("${siteurl}tenantRest/employee/update.htm", data, function (res) {
            if (res.code == 0) {
                self.$message({
                    message: '修改数据成功',
                    type: 'success'
                });
                //window.history.go(-1)
                self.$router.go(-1);
            } else {
                self.$message.error(res.msg);
            }
        });
    }
    employeeUpdateConfig.data = function () {
        return {
            form: {
                name: '',
                phone: '',
                dataScope: '',
                no: '',
                email: '',
                job: '',
                org: '',
                departments: '',
                permissionType: ''            },
            rules: {
            }
        }
    };

    employeeUpdateConfig.mounted = function () {
        var id = this.$route.query.id;
        var self = this;
        var data = {};
        data.id = id;
        this.postData("${siteurl}tenantRest/employee/view.htm", data, function (res) {
            if (res.code == 0) {
                self.form = res;
            }
        });
    }
    employeeUpdateConfig.computed = {};
              employeeUpdateConfig.computed.orgOptions = function () {
                    return this.$store.state.orgOptions;
                };

    employeeUpdateConfig.destroyed = function () {
            console.log("destroyed add view ");
            
	}
    var employeeUpdateView = Vue.component('update-view', employeeUpdateConfig);
    //更新组件结束
</script>
[/#macro]